*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div
{
    
    
 background-color: black;
 width: 100%;
 height: 100vh;
 display: flex;
align-items: center;
justify-content: center;
}
h2
{
    color:white;
    font-size: 70px;
    font-weight: 500;

}
span
{
    font-weight: 600;
    font-size: 75px;
    color: aqua;
}